* {
    margin: 0;
}

/* Below are the breakpoints for smartphone screens*/

@media only screen and (min-width: 320px) and (max-width: 432px) {

    /* NAVIGATION MENU CODE START */

    /* this gives the entire nav section a blue background color with white text */
    .navBar {
        background-color: #00168C;
        color: white;
    }

    /* this puts the logo and hamburger menu in a row */
    .navRow {
        display: flex;
        justify-content: space-between;
        padding: 10% 5%;
    }

    /* this spaces out the three lines in the hamburger menu and organizes them into a column */
    .hamburgerMenu {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    /* this gives each line in the hamburger menu a color, height, and width */
    #menuLine {
        background-color: white;
        width: 40px;
        height: 5px;
        border-radius: 10px;
    }

    /* this hides the nav bar links so when the onclick attribute is triggered when clicking the hamburger menu, the links will be appear */
    .navLinks {
        display: none;
    }

    /* this toggles the hamburger menu to show the navigation links for mobile and tablet */
    .show {
        display: flex;
        flex-direction: column;
        align-items: end;
        list-style-type: none;
    }

    /* NAVIGATION MENU CODE END */


    /* this aligns all the text in the hero section */
    .hero-section {
        text-align: center;
    }

    /* this sets the size of my profile photo in the hero section */
    #profilePic {
        height: 100%;
        width: 100%;
    }

    /* this styles the text with the black background */
    #hero-header {
        background-color: white;
        color: black;
        padding: 5%;
        border-radius: 34px;
        border: black solid thin;
        position: absolute;
        transform: translate(-20px, -175px);
        font-size: 23px;
    }

    /* this sets a margin and padding for the short bio paragraph underneath the photo */
    .hero-text {
        padding: 10%;
        margin-top: 25%;
    }

    /* this spaces out the contact me button and portfolio button */
    .hero-buttons {
        display: flex;
        justify-content: space-evenly;
        margin-top: 10%;
    }

    /* this sets all of the content from tech stack to testimonials inside of a grid */
    .skills-section {
        display: grid;
        grid-auto-flow: row;
        text-align: center;
        margin-top: 30%;
        row-gap: 40px;
    }

    /* this sets the padding for all the logos in the tech stack and design tools section */
    .logos img {
        padding: 5% 5%;
    }

    .projectSection img {
        height: 35vh;
        width: 20vh;
    }

    /* this sets the height and width of the photos in my testimonial section */
    .testimonial-pic {
        clip-path: circle(50% at 50% 50%);
        width: 20vh;
        height: 20vh;
    }

    /* this sets a padding for my entire testimonial section */
    .testimonial-item {
        padding: 5% 10%;
    }

    /* this sets my footer, it's set in a grid to help space out my contact form, footer links, and the copyright tag */
    footer {
        display: grid;
        grid-auto-flow: row;
        gap: 60px;
    }

    /* this sets a margin for my contact form */
    .contact-form {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 15%;
        gap: 10px;
    }

    /* this is for the submit button at the bottom of the page */
    #submit {
        border-radius: 20px;
        padding: 10px 15px;
        border: none;
        margin: 5% 35%;
    }

    /* this sets an image size for the github and linkedin icons */
    .footer-logo {
        width: 15%;
        height: 80%;
    }

    /* this aligns all the footer links in the center */
    .footer-links {
        text-align: center;
        align-items: center;
        justify-items: center;
    }

    /* this sets a padding for each footer link */
    .footer-item {
        padding: 10px;
    }
}



/* Below are the breakpoints from mobile to tablet for the navigation menu*/

@media only screen and (min-width: 433px) and (max-width: 768px) {

    /* NAVIGATION MENU CODE START */

    /* this gives the entire nav section a blue background color with white text */
    .navBar {
        background-color: #00168C;
        color: white;
    }

    /* this puts the logo and hamburger menu in a row */
    .navRow {
        display: flex;
        justify-content: space-between;
        padding: 10%;
        margin: auto;
    }

    /* this spaces out the three lines in the hamburger menu and organizes them into a column */
    .hamburgerMenu {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    /* this gives each line in the hamburger menu a color, height, and width */
    #menuLine {
        background-color: white;
        width: 40px;
        height: 5px;
        border-radius: 10px;
    }

    /* this hides the nav bar links so when the onclick attribute is triggered when clicking the hamburger menu, the links will be appear */
    .navLinks {
        display: none;
    }

    /* this toggles the hamburger menu to show the navigation links for mobile and tablet */
    .show {
        display: flex;
        flex-direction: column;
        align-items: end;
        list-style-type: none;
    }

    /* NAVIGATION MENU CODE END */
}

/* Below is the breakpoint for tablet and desktop for the entire design of the website */
@media only screen and (min-width: 433px) {
    .hero-section {
        display: flex;
        flex-direction: row-reverse;
        padding: 10%;
    }

    /* this sets a margin and padding for the short bio paragraph underneath the photo */
    .hero-text {
        display: flex;
        flex-direction: column;
        margin: auto;
        gap: 50px;
        padding: 0 10%;
    }

    /* this spaces out the contact me button and portfolio button */
    .hero-buttons {
        display: grid;
        grid-auto-flow: column;
        gap: 20px;
    }

    /* this sets the size of my profile photo in the hero section */
    #profilePic {
        height: 40%;
        width: 40%;
        border-radius: 50px;
    }

    /* this sets all of the content from tech stack to testimonials inside of a grid */
    .skills-section {
        display: grid;
        grid-auto-flow: row;
        text-align: center;
        margin-top: 10%;
        row-gap: 50px;
    }

    /* this sets the padding for all the logos in the tech stack and design tools section */
    .logos img {
        padding: 5% 5%;
    }

    /*  */
    .testimonial-section {
        display: flex;
        flex-direction: row;
        margin: 0 10%;
        gap: 50px;
        text-align: center;
    }

    /* this sets the height and width of the photos in my testimonial section */
    .testimonial-pic {
        clip-path: circle(50% at 50% 50%);
        width: 30vh;
        height: 30vh;
    }

    /* this sets a padding for each text item in the testimonial section */
    .testimonial-item {
        padding: 1% 32%;
    }

    /* this sets my footer, it's set in a grid to help space out my contact form, footer links, and the copyright tag */
    footer {
        display: grid;
        grid-auto-flow: row;
        gap: 100px;
    }

    /* this sets a margin for my contact form */
    .contact-form {
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 15%;
        gap: 20px;
    }

    /* this is for the submit button at the bottom of the page */
    #submit {
        border-radius: 20px;
        padding: 10px 15px;
        border: none;
        margin: 5% 35%;
    }

    /* this sets an image size for the github and linkedin icons */
    .footer-logo {
        width: 10%;
        height: 80%;
    }

    /* this aligns all the footer links in the center */
    .footer-links {
        text-align: center;
        align-items: center;
        justify-items: center;
    }

    /* this sets a padding for each footer link */
    .footer-item {
        padding: 10px;
    }
}

/* this is to improve the hero image size and text at every screensize */
@media only screen and (min-width: 432px) and (max-width: 566px) {}



/* below are the global stylings for my hero buttons, contact form, and copyright tag on this page */

.navLinks a,
.navRow a {
    text-decoration: none;
    color: black;
}

/* when a nav link is pressed, text color will turn black with a white background */
.navLinks a:active {
    text-decoration: none;
    color: black;
    background-color: white;
}

.hero-section {
    background-color: #00168C;
    color: white;
}

.redirect-buttons {
    border-radius: 20px;
    padding: 10px 15px;
    border: none;
}

#contact-button {
    background-color: #00E6AF;
}

#portfolio-button {
    background-color: black;
    color: white;
}

.projectSection {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    margin: auto
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.legal-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}