@import url("./antipasto-font.css");

* {
    margin: 0;
}

/* Below are the breakpoints for smartphone screens*/

@media only screen and (min-width: 320px) and (max-width: 432px) {

    /* NAVIGATION MENU CODE START */

    /* this gives the entire nav section a blue background color with white text */
    .navBar {
        background-color: #526cff;
        color: white;
        font-family: "Antipasto-Regular-trial", sans-serif;
    }


    /* this puts the logo and hamburger menu in a row */
    .navRow {
        display: flex;
        justify-content: space-between;
        padding: 10% 5%;
    }

    .navRow a {
        text-decoration: none;
        color: white;
    }

    /* this spaces out the three lines in the hamburger menu and organizes them into a column */
    .hamburgerMenu {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    /* this gives each line in the hamburger menu a color, height, and width */
    #menuLine {
        background-color: white;
        width: 40px;
        height: 5px;
        border-radius: 10px;
    }

    /* this hides the nav bar links so when the onclick attribute is triggered when clicking the hamburger menu, the links will be appear */
    .navLinks {
        display: none;
    }

    .navLinks,
    .navLinks a {
        text-decoration: none;
        color: white;
        background-color: #526cff;
        font-family: "Anitpasto-DemiBold-trial", sans-serif;
    }

    /* this will be toggled through a click event for the hamburger menu. It shows the navigation links for mobile and smaller tablet screens*/
    .show {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style-type: none;
        font-size: 20px;
        row-gap: 10px;
        padding: 5% 0;
    }

    /* NAVIGATION MENU CODE END */

    /* FOOTER CODE START */

    /* this sets my footer, it's set in a grid to help space out my contact form, footer links, and the copyright tag */
    footer {
        display: grid;
        grid-auto-flow: row;
        gap: 20px;
        margin-top: 30%;
    }

    /* this sets a margin for my contact form */
    .contact-form {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 30%;
        gap: 10px;
    }

    /* this is for the submit button at the bottom of the page */
    #submit {
        border-radius: 20px;
        padding: 10px 15px;
        border: none;
        margin: 5% 35%;
    }


    /* this aligns all the footer links in the center */
    .footer-links {
        text-align: center;
        align-items: center;
        justify-items: center;
    }

    /* this sets a padding for each footer link */
    .footer-item {
        padding: 10px;
    }

    /* FOOTER CODE END */
}

/* Below are the breakpoints for the navigation menu on tablet screens */

@media only screen and (min-width: 433px) and (max-width: 768px) {
    #websiteLogo {
        font-size: 25px;
    }

    /* NAVIGATION MENU CODE START */


    /* this gives the entire nav section a blue background color with white text */
    .navBar {
        background-color: #526cff;
        color: white;
        font-family: "Antipasto-Regular-trial", sans-serif;
    }

    /* this puts the logo and hamburger menu in a row */
    .navRow {
        display: flex;
        justify-content: space-between;
        padding: 4% 10%;
        margin: auto;
        text-decoration: none;
        color: white;
    }

    .navRow a,
    .navLinks a {
        text-decoration: none;
        color: white;
    }

    .navLinks a {
        font-size: 20px;
    }

    /* this spaces out the three lines in the hamburger menu and organizes them into a column */
    .hamburgerMenu {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    /* this gives each line in the hamburger menu a color, height, and width */
    #menuLine {
        background-color: white;
        width: 40px;
        height: 5px;
        border-radius: 10px;
    }

    /* this hides the nav bar links so when the onclick attribute is triggered when clicking the hamburger menu, the links will be appear */
    .navLinks {
        display: none;
    }


    /* NAVIGATION MENU CODE END */

    /* this toggles the hamburger menu to show the navigation links for mobile and tablet */
    /* this will be toggled through a click event for the hamburger menu. It shows the navigation links for mobile and tablet screens*/
    .show {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style-type: none;
        font-size: 20px;
        row-gap: 10px;
        padding: 5% 0;
    }

    /* this sets my footer, it's set in a grid to help space out my contact form, footer links, and the copyright tag */
    footer {
        display: grid;
        grid-auto-flow: row;
        gap: 20px;
        margin-top: 20%;
    }

    /* this sets a margin for my contact form */
    .contact-form {
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 15%;
        gap: 20px;
    }

    /* this is for the submit button at the bottom of the page */
    #submit {
        border-radius: 20px;
        padding: 10px 15px;
        border: none;
        margin: 5% 35%;
    }



    /* this aligns all the footer links in the center */
    .footer-links {
        text-align: center;
        align-items: center;
        justify-items: center;
    }

    /* this sets a padding for each footer link */
    .footer-item {
        padding: 10px;
    }
}

@media only screen and (min-width: 769px) {
    #websiteLogo a {
        font-size: 35px;
        font-family: "Anitpasto-Bold-trial", sans-serif;
        text-decoration: none;
        color: white;
    }

    /* NAVIGATION MENU CODE START */

    .navBar {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: sticky;
        justify-content: space-between;
        top: 0;
        z-index: 1000;
        background-color: #526cff;
        padding: 1rem 2rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
        /* Optional: soft depth */
    }

    .navLinks {
        list-style-type: none;
        display: flex;
        flex-direction: row;
    }

    .navLinks li a {
        text-decoration: none;
        color: white;
        padding: 0.5rem 1rem;
        transition: all 0.3s ease;
    }


    .navLinks li a:hover {
        border-bottom: 2px solid black;
    }

    .navLinks li a:active,
    .navLinks li a.active {
        font-weight: bold;
        color: #00E6AF;
        border-bottom: 2px solid #00E6AF;
    }

    /* NAVIGATION MENU CODE END */


    /* this sets my footer, it's set in a grid to help space out my contact form, footer links, and the copyright tag */
    footer {
        display: grid;
        grid-auto-flow: row;
        gap: 20px;
        margin-top: 10%;
    }

    /* this sets a margin for my contact form */
    .contact-form {
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 15%;
        gap: 20px;
    }

    /* this is for the submit button at the bottom of the page */
    #submit {
        border-radius: 20px;
        padding: 10px 15px;
        border: none;
        margin: 5% 35%;
    }

    /* this aligns all the footer links in the center */
    .footer-links {
        text-align: center;
        align-items: center;
        justify-items: center;
    }

    /* this sets a padding for each footer link */
    .footer-item {
        padding: 10px;
    }
}

body {
    background-color: rgb(203, 202, 202);
}

/* when a nav link is clicked, it will have a white background */
.navLinks a {
    text-decoration: none;
    font-family: "Antipasto-Regular-trial", sans-serif;
}

.navLinks a:active {
    background-color: white;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    font-family: "Anitpasto-Medium-trial", sans-serif;
}

#submit {
    cursor: pointer;
}

.footer-links a {
    text-decoration: none;
}

.legal-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-family: sans-serif;
}