// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";
@import url("./antipasto-font.css");

// Then add additional custom code here
* {
    margin: 0;
}

@media only screen and (min-width: 320px) and (max-width: 432px) {


    /* NAVIGATION MENU CODE START */

    #websiteLogo {
        font-family: "Anitpasto-Bold-trial", sans-serif;
    }

    .navBar {
        background-color: #526cff;
    }


    /* this puts the logo and hamburger menu in a row */
    .navRow {
        display: flex;
        justify-content: space-between;
        padding: 10% 5%;
        align-items: anchor-center;
    }

    /* this spaces out the three lines in the hamburger menu and organizes them into a column */
    .hamburgerMenu {
        display: flex;
        flex-direction: column;
        gap: 5px;

    }

    /* this gives each line in the hamburger menu a color, height, and width */
    #menuLine {
        background-color: white;
        width: 30px;
        height: 3px;
        border-radius: 10px;
    }


    /* this hides the nav bar links so when the onclick attribute is triggered when clicking the hamburger menu, the links will be appear */
    .navLinks {
        display: none;
    }

    .navLinks a {
        text-decoration: none;
        color: white;
        background-color: #526cff;
        font-family: "Anitpasto-DemiBold-trial", sans-serif;
    }

    /* this will be toggled through a click event for the hamburger menu. It shows the navigation links for mobile and smaller tablet screens*/
    .show {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style-type: none;
        font-size: 20px;
        row-gap: 10px;
        padding: 5% 0;
    }

    /* NAVIGATION MENU CODE END */

    .container h3 {
        margin-top: 10%;
    }

    /* this sets my footer, it's set in a grid to help space out my contact form, footer links, and the copyright tag */
    footer {
        display: grid;
        grid-auto-flow: row;
        gap: 30px;
        margin-top: 10%;
    }

    /* this aligns all the footer links in the center */
    .footer-links {
        text-align: center;
        align-items: center;
        justify-items: center;
    }

    /* this sets a padding for each footer link */
    .footer-item {
        padding: 10px;
    }
}

@media only screen and (min-width: 433px) and (max-width: 768px) {
    #websiteLogo {
        font-size: 25px;
        font-family: "Anitpasto-Bold-trial", sans-serif;
    }

    /* NAVIGATION MENU CODE START */

    /* this gives the entire nav section a blue background color with white text */

    /* this puts the logo and hamburger menu in a row */
    .navRow {
        display: flex;
        justify-content: space-between;
        padding: 10%;
        margin: auto;
    }

    /* this spaces out the three lines in the hamburger menu and organizes them into a column */
    .hamburgerMenu {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .navBar,
    .navRow a {
        background-color: #526cff;
    }

    .hero-section {
        background-image: linear-gradient(#526cff, blue);
    }

    /* this gives each line in the hamburger menu a color, height, and width */
    #menuLine {
        background-color: white;
        width: 40px;
        height: 5px;
        border-radius: 10px;
    }

    /* this hides the nav bar links so when the onclick attribute is triggered when clicking the hamburger menu, the links will be appear */
    .navLinks {
        display: none;
    }

    /* when a nav link is pressed, text color will turn black with a white background */
    .navLinks,
    .navLinks a {
        text-decoration: none;
        color: white;
        background-color: #526cff;
        font-family: "Anitpasto-DemiBold-trial", sans-serif;
        font-size: 20px;
    }

    /* this will be toggled through a click event for the hamburger menu. It shows the navigation links for mobile and tablet screens*/
    .show {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style-type: none;
        font-size: 20px;
        row-gap: 10px;
        padding: 5% 0;
    }

    /* NAVIGATION MENU CODE END */

    .container h3 {
        margin-top: 10%;
    }

    /* this sets my footer, it's set in a grid to help space out my contact form, footer links, and the copyright tag */
    footer {
        display: grid;
        grid-auto-flow: row;
    }

    /* this aligns all the footer links in the center */
    .footer-links {
        text-align: center;
        align-items: center;
        justify-items: center;
    }

    /* this sets a padding for each footer link */
    .footer-item {
        padding: 10px;
    }
}

@media only screen and (min-width: 769px) {

    #websiteLogo {
        font-size: 35px;
        font-family: "Anitpasto-Bold-trial", sans-serif;
    }

    .navBar {
        display: flex;
        flex-direction: row;
        position: sticky;
        align-items: center;
        justify-content: space-between;
        top: 0;
        z-index: 1000;
        background-color: #526cff;
        padding: 1rem 2rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
        /* Optional: soft depth */
    }

    .navLinks {
        list-style-type: none;
        display: flex;
        flex-direction: row;
    }

    .navLinks li a {
        text-decoration: none;
        color: white;
        padding: 0.5rem 1rem;
        transition: all 0.3s ease;
        font-family: "Anitpasto-DemiBold-trial", sans-serif;
    }


    .navLinks li a:hover {
        border-bottom: 2px solid black;
    }

    .navLinks li a:active,
    .navLinks li a.active {
        font-weight: bold;
        color: #00E6AF;
        border-bottom: 2px solid #00E6AF;
    }

    .container h3 {
        margin-top: 5%;
    }

    /* this aligns all the footer links in the center */
    .footer-links {
        text-align: center;
        align-items: center;
        justify-items: center;
    }

    /* this sets a padding for each footer link */
    .footer-item {
        padding: 10px;
    }
}

#websiteLogo a {
    text-decoration: none;
    color: white;
}

footer {
    background-color: #526cff;
    color: white;
}

.footer-links a {
    text-decoration: none;

}

.legal-links a {
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
}


.legal-links a.active {
    font-weight: bold;
    color: #00E6AF;
    border-bottom: 2px solid #00E6AF;
}

.legal-links a:active {
    font-weight: bold;
    color: #00E6AF;
    border-bottom: 2px solid #00E6AF;
    background-color: white;
}

.legal-links a:hover {
    border-bottom: 2px solid black;
}

.legal-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    font-family: sans-serif;
}